{% extends "news/layout.html" %}

{% block body %}

<h3>{{ section.section_name }}</h3>
<img class="hero-img" src="{{ article.main.image.url }}"> 
    <h1>{{ article.headline }}</h1>
<p>{{ article.deck }}</p>
<small>{{ article.byline }}</small>
{{ article.content | safe }}


{% if user.is_authenticated %}
    <form action="{% url 'comment' article.id %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Post a comment!" name="new_comment">
        </input>
        <input type="submit"></input>
    </form>

{% endif %}

    <br>

{% for comment in comments %}
    <b>{{ comment.commenter }}</b>     <p>{{comment.comment_text}}</p>

{% endfor %}


{% endblock %}