{% extends "news/layout.html" %}

{% block body %}



  <div class="hero-section">
    <img src="{{ hero_article.main.image.url }}" class="hero-img">
    <div id="hero-content">
      <a class="link-light" href="{% url 'article_details' hero_article.section.section_url_name hero_article.url %}">
      <h1>{{ hero_article.headline }}</h1>
      <p>{{ hero_article.deck }}</p>
      </a>
    </div>
  </div>



<ul class="nav w-100 p-3 nav-dark justify-content-center bg-danger">
  {% for section in all_sections %}
  <li class="nav-item">
    <a class="nav-link link-light" aria-current="page" href="{% url 'section' section.section_url_name %}">{{ section.section_name }}</a>
  </li>
  {% endfor %}
</ul>

<div id="section-1">
  {% for article in featured_articles %}
  <div class="card bg-dark text-white" > 
    {% if article.main %}
    <img class="card-img-top" src="{{ article.main.image.url }}" class="img-thumbnail">
    {% endif %}
    <div class="card-body">
      <a class="link-danger" href="{% url 'article_details' article.section.section_url_name article.url %}">{{ article.headline }}</a>
      <br>
      <small>from: 
        <a  class="link-light" href="{% url 'section' article.section.section_url_name %}">{{ article.section.section_name }}</a>
      </small><br>
      <small class="card-text">{{ article.deck }}</small> <br>
      <small><a class="link-light" href="{% url 'author_page' article.byline.author_slug %}">{{ article.byline }}</a></small>
    </div>
  </div>
  {% endfor %}
</div>


<div id="section-1">
  {% for article in featured_electric %}
  <div class="card" style="width: 18rem;"> 
    {% if article.main %}
    <img class="card-img-top" src="{{ article.main.image.url }}" class="img-thumbnail">
    {% endif %}
    <div class="card-body">
      <a href="{% url 'article_details' article.section.section_url_name article.url %}">{{ article.headline }}</a>
      <br>
      <small>from: 
        <a href="{% url 'section' article.section.section_url_name %}">{{ article.section.section_name }}</a>
      </small><br>
      <small class="card-text">{{ article.deck }}</small> <br>
      <small><a href="{% url 'author_page' article.byline.author_slug %}">{{ article.byline }}</a></small>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}