{% extends "news/layout.html" %}

{% block body %}

<h1>Latest News</h1>

<div class="article-container">
      {% for article in page_obj %}
      <div class="card" style="width: 18rem;">
          <a href="{{ article.url }}" target="_blank"> 
              {% if article.urlToImage %}
              <img class="card-img-top" src="{{ article.urlToImage }}" class="img-thumbnail">
              {% endif %}
              <div class="card-body">
                  <h2 class="card-title">{{ article.title }}</h2> 
          </a>
                  <small class="card-text">{{ article.description }}</small> <br> 
                  <small><a href="#">{{ article.author }}</a></small>
              </div>
          </a>
      </div>
      {% endfor %}
  </div>
{% endblock %}