body{
    display: flex;
    flex-direction: column;
    background-color: #1B1212;
    overflow-y: scroll;
}

.hero-section{
    max-width: 100%;
    max-height: 100vh;
    margin-bottom:6rem;
}

.hero-img{
    position:relative;
    width:100%;
}

#hero-content{
    position: absolute;  
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
}

.section-wrapper{
    background-color: khaki;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

div.section-wrapper > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

#section-1{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.footer{
    display: flex;
    height: 2em;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.article-container{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #606c38; 
    color:beige;
    margin: 0;
}

.content{
    width: 100%;
    background-color: #1B1212;
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

