{% extends "cms/layout.html" %}

{% block body %}
<h1 class="heading">Create/Edit Article</h1>

<div class="article-content m-3">

    <button class="btn btn-outline-success mb-1" style="width:10rem;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      See version history
    </button>

  <form method="POST" class="article-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_div }}
    {% comment %} <img id="imagePreview" class="m-3" src="{{ image_url }}" style="display:none" alt="Image Preview" /> {% endcomment %}
    <button class="btn btn-outline-success m-2" style="width:6rem" type="submit">Save</button>

  </form>
  

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Article History</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
<ul class="list-group">
  {% for change in history %}
            <li class="list-group-item">
                Changed by: <b class="text-success">{{ change.history_user }}</b> 
                at <b class="text-success">{{ change.history_date }}</b> ({{ change.get_history_type_display }})
            </li>
        {% endfor %}
    </ul>
    
    </ul>
  </div>
</div>

</div>
{% endblock %}
