{% extends "cms/cms_layout.html" %}

{% block body %}

<h1>CMS Dashboard</h1>
<a href="{% url 'cms_create_article' %}">Create New Article</a>
<ul>
  {% for article in articles %}
    <li>
      <a href="{% url 'cms_edit_article' article.id %}">{{ article.headline }}</a>
      <form action="{% url 'cms_delete_article' article.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Delete</button>
      </form>
    </li>
  {% endfor %}
</ul>

{% endblock %}