{% extends "cms/layout.html" %}

{% block body %}

<h1 class="m-4">Dashboard</h1>

<div class="dash mx-auto">
    <div class="btn-parent">
      <button type="button" class="btn btn-outline-success btn-lg">
        <a id="btn-hover" class="link-dark" href="{% url 'create_article' %}" style="color:">
          Create New Article
        </a>
      </button>

    </div>

    <div class="btn-parent">
      <button type="button" id="hover-parent"class="btn btn-outline-success btn-lg">
        <a id="btn-hover" class="link-dark"href="{% url 'edit_homepage' %}" style="">
          Edit Homepage
        </a>
      </button>
    </div>

    <div class="btn-parent">
      <button type="button" id="hover-parent"class="btn btn-outline-success btn-lg">
        <a id="btn-hover" class="link-dark"href="{% url 'create_author' %}" style="">
          Create Author
        </a>
      </button>
    </div>

    <div class="btn-parent">
      <button type="button" id="hover-parent"class="btn btn-outline-success btn-lg">
        <a id="btn-hover" class="link-dark"href="{% url 'create_section' %}" style="">
          Create Section
        </a>
      </button>
    </div>

      <div class="btn-parent">
        <button type="button" id="hover-parent"class="btn btn-outline-success btn-lg">
          <a id="btn-hover" class="link-dark"href="{% url 'create_image' %}" style="">
            Create Image
          </a>
        </button> 
      </div>
</div>

<div class="cms-articles" >

<h3>Articles</h3>
  <div class="list-group ">
  {% for article in articles %}
    <a href="{% url 'edit_article' article.id %}" class="list-group-item list-group-item-action">
      {{ article.headline }}
    </a>
  {% endfor %}
  
  </div> 
{% comment %}   <ul>
    {% for article in articles %}
      <li>
        <a href="{% url 'edit_article' article.id %}">{{ article.headline }}</a>
        <form action="{% url 'delete_article' article.id %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button value="{{ article.id }}" type="submit">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul> {% endcomment %}
</div>

{% endblock %}