{% extends "cms/layout.html" %}

{% block body %}

<h1 class="m-4">Results for "{{ search_q }}"</h4>
<div class="cms-articles">
  <div class="list-group ">
    {% for article in page_obj %}
      <a href="{% url 'edit_article' article.id %}" class="list-group-item list-group-item-action">
        {{ article.headline }}
      </a>
    {% endfor %}

  </div>
</div>

<div class="pagination d-flex justify-content-center my-2">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
  
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
    </span>
  </div>

{% endblock %}