{% extends "cms/layout.html" %}

{% block body %}
{% load custom_filters %}
<h1 class="m-4">Results for "{{ search_q }}"</h4>
<div class="cms-articles">
  <div class="list-group ">
    {% for result in search_results %}
    {% if result.object|to_class_name == 'Author' %}
    <a href="{% url 'create_author' result.object.id %}" class="list-group-item list-group-item-action">
      Author – {{ result.object.byline }}
    </a>
    {% endif %}
    
    {% if result.object|to_class_name == 'Article' %}
    <a href="{% url 'edit_article' result.object.id %}" class="list-group-item list-group-item-action">
      Article – {{ result.object.headline }}
    </a>
    {% endif %}
    
    {% if result.object|to_class_name == 'Section' %}
    <a href="{% url 'edit_section' result.object.id %}" class="list-group-item list-group-item-action">
      Section – {{ result.object.section_name }}
    </a>
    {% endif %}
  {% endfor %}

  </div>
</div>

{% comment %} <div class="pagination d-flex justify-content-center my-2">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
  
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
    </span>
  </div> {% endcomment %}

{% endblock %}